@model CleanAndRepair.Models.ApplicationUser

@{
    ViewBag.Title = "UserProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Мой профиль</h2>

<div>
    <hr />
    <div>
        @Html.DisplayName("Место для фото")
    </div>
    <table class="table table-bordered table-hover">
        <tr>
            <td>
                @Html.DisplayName("Логин")
            </td>
            <td>
                @Html.DisplayFor(model => model.UserName)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayName("Имя")
            </td>
            <td>
                @Html.DisplayFor(model => model.FullName)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayName("Email")
            </td>
            <td>
                @Html.DisplayFor(model => model.Email)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayName("Телефон")
            </td>

            <td>
                @Html.DisplayFor(model => model.PhoneNumber)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayName("Рейтинг")
            </td>
            <td>
                @Html.DisplayFor(model => model.Raiting)
            </td>
        </tr>
    </table>
</div>
<p>
    @Html.ActionLink("Изменить профиль", "EditProfile") |
    @Html.ActionLink("Перейти к заказам", "OrderListIdentityUser")
</p>
