@model IEnumerable<CleanAndRepair.ViewModels.UserListViewModel>

@{
    ViewBag.Title = "Работники";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Работники</h2>

@if (Model.Count() == 0)
{
    <h4>Список пуст</h4>
}
else
{
    <table class="table table-bordered table-hover">
        <tr>
            <th>
                @Html.DisplayName("Имя")
            </th>
            <th>
                @Html.DisplayName("Email")
            </th>
            <th>
                @Html.DisplayName("Телефон")
            </th>
            <th>
                @Html.DisplayName("Адрес")
            </th>
            <th>
                @Html.DisplayName("Заказы, шт")
            </th>
            <th>
                @Html.DisplayName("Роль")
            </th>
            <th>
                @Html.DisplayName("Рейтинг")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.user.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.user.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.user.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.user.Address)
                </td>
                <td>
                    @Html.ActionLink(item.CountOrders.ToString(), "WorkerOrders", new { id = item.user.Id })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.user.RoleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.user.Raiting)
                </td>
                <td>
                    @Html.ActionLink("Изменить", "EditWorker", new { id = item.user.Id }) |
                    @Html.ActionLink("Удалить", "DeleteWorker", new { id = item.user.Id })
                </td>
            </tr>
        }

    </table>
}
