@model CleanAndRepair.ViewModels.CalcCleanViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Подтверждение заказа";
}
<title>Подтверждение заказа</title>

@using (Html.BeginForm("BookService", "Home", FormMethod.Post))
{
    <h2>Заказ услуги</h2>
    <div>
        <table class="table table-striped table-hover">
            <tr>
                <td>
                    @Html.DisplayFor(m => m.Service.Name)
                </td>
                <td>
                    Описание услуги с фотографиями
                </td>
            </tr>
        </table>
    </div>
    @Html.HiddenFor(m => m.Service.Id)
    @Html.HiddenFor(m => m.Service.Price)
    @Html.HiddenFor(m => m.Service.Name)
    @Html.HiddenFor(m => m.Service.Group)
    <h4>Параметры заказа</h4>
    <div>
        <table class="table table-striped table-hover">

            <tr>
                <td> Выберите удобную для Вас дату</td>
                <td>
                    @Html.EditorFor(m => m.DateComplete, new { htmlAttributes = new { @type = "date", @name = "date", @id = "dateCompleteField" } })
                    @Html.ValidationMessageFor(m => m.DateComplete, "", new { @class = "text-danger" })
                </td>
            </tr>
        </table>
    </div>
    <div>
        <input type="submit" value="Заказать услугу" class="btn btn-default" />
    </div>
}
<div>
    @Html.ActionLink("Вернуться на главную", "Index")
</div>
