@model IEnumerable<DAL.Entities.GroupService>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Список сервисов</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("CleanAndRepair", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Главная", "Index", "Home")</li>
                    <li>@Html.ActionLink("О нас", "About", "Home")</li>
                    <li>@Html.ActionLink("Контакты", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="navbar col-md-4">
        <ul class="nav nav-pills nav-stacked">
            @foreach (var g in Model)
            {
                <li>@Ajax.ActionLink(g.Name, "ShowServices", new { id = g.Id }, new AjaxOptions { UpdateTargetId = "groupservice" })</li>
            }
        </ul>
    </div>
    <br />
    <div class="col-md-8" id="groupservice"></div>
    @Scripts.Render("~/scripts/jquery-1.10.2.min.js")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

</body>
</html>