@model IEnumerable<CleanAndRepair.Models.Order>

@{
    ViewBag.Title = "OrderListIdentityUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Мои заказы</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Услуга")
        </th>
        <th>
            @Html.DisplayName("Дата заказа")
        </th>
        <th>
            @Html.DisplayName("Дата выполнения")
        </th>
        <th>
            @Html.DisplayName("Статус")
        </th>
        <th>
            @Html.DisplayName("Сумма в руб.")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceOrder.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOrderCheck)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOrderComplete)
            </td>
            <td>
                @Html.Display(item.Complete ? "Выполнен" : "Ожидается")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                @Ajax.ActionLink("Подробности", "DetailsOrder", new { id = item.Id }, new AjaxOptions { UpdateTargetId = "DetailsOrDeleteConfirm" }) |
                @Ajax.ActionLink("Отменить", "DeleteConfirm", new AjaxOptions { UpdateTargetId = "DetailsOrDeleteConfirm" })
            </td>
        </tr>
        <tr id="DetailsOrDeleteConfirm"></tr>
    }

</table>
